@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Ubuntu&display=swap');

    .one, .two, .three, .four, .five, .six, aside, p {
        border: 1px solid red;

}
header {
    background:#164DB5;
    display: grid;
    grid-template-columns: 150px auto;
    font-family: Ubuntu, Quicksand, sans-serif;
  }
  nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  nav :hover {
    text-align: center;
    background-color: rgb(247, 6, 6);
    justify-content: space-around;   
}
nav a {
    padding: 3px;
    text-align: center;
    color: #f9f4f4;
    text-decoration: none;
    margin: 50px;
    line-height: 1.5em;
    display: flex;
    justify-content: space-around;
}
.logo {
    width: 80px;
   }
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

main {
    display: grid;
   }
.msg-area {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
header {
    background:#164DB5;
    display: grid;
    grid-template-columns: 150px auto;
    font-family: Ubuntu, Quicksand, sans-serif;
  }


footer {
        grid-template-columns: repeat(6, 1fr);
        background-color:#164DB5;
        padding: 25px 50px;
        margin-top: 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
footer a {
        background-color:#164DB5;
        text-decoration: none;
        margin-top: 50px;
    }
    
footer a:hover {
        font-size: 1.4em;
        text-decoration: underline;
      }
      
    a:link {
        color: rgb(243, 235, 235);
        text-decoration: underline
      }
    
footer p {
        background:#164DB5;
         font-family: Ubuntu, Quicksand, sans-serif;
         margin: auto;
         text-align: center;
       }
