@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Ubuntu&display=swap');

     aside, p {
        border: 2px solid rgb(10, 10, 10);
}
header {
    background:#164DB5;
    display: grid;
    grid-template-columns: 150px auto;
    font-family: Ubuntu, Quicksand, sans-serif;
  }
  nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  nav :hover {
    text-align: center;
    background-color: rgb(247, 6, 6);
    justify-content: space-around;   
}
nav a {
    padding: 3px;
    text-align: center;
    color: #f9f4f4;
    text-decoration: none;
    margin: 50px;
    line-height: 1.5em;
    display: flex;
    justify-content: space-around;
}
.logo {
    width: 80px;
   }
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
p {
  margin: 0;
}

.msg-area {
  font-family: ubuntu, Quicksand, sans-serif;
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 20px;
    gap: 10px;
    text-align: center;
    font-family: cursive;
    align-items: center;
  }
  .msg-area2 {
    font-family: Ubuntu, Quicksand, sans-serif;
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: 20px;
    gap: 10px;
    text-align: center;
    font-family: cursive;
    align-items: center;
  }
  
  aside {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    gap: 10px;
  }

  footer {
        grid-template-columns: repeat(6, 1fr);
        background-color:#164DB5;
        padding: 25px 50px;
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: Ubuntu, Quicksand, sans-serif;
    }
footer a {
        background-color:#164DB5;
        text-decoration: none;
        margin-top: 0;
    }
    
footer a:hover {
        font-size: 1.4em;
        text-decoration: underline;
      }
      
    a:link {
        color: rgb(243, 235, 235);
        text-decoration: underline
      }
    
footer p {
        background:#164DB5;
        font-family: Ubuntu, Quicksand, sans-serif;
        text-align: center;
       }

